@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

@font-face {
    font-family: "InputMono";
    src: url("fonts/InputSans/InputSans/InputSans-Regular.ttf");
}


body {
    margin: 60px auto;
    width: 80%;
    font-family:'InputMono', 'Ubuntu Mono';
    font-size:110%;
}

nav ul, footer ul {
    float: left;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.container {
    padding-top: 50px;
}
p {
    padding: 10px;
    line-height:135%;
    max-width: 45em;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {     
    text-decoration: underline;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
