<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="google-site-verification" content="LEK03FYXvS0e8fwewWgRIgwJSai-FjU5Slv1n9NC9Fg" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/cv.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<br>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:theo@nus.edu.sg" target="_blank">email</a></li>
	        		<li><a href="https://github.com/theodoreleebrant" target="_blank">github</a></li>
					<li><a href="https://www.linkedin.com/in/theodoreleebrant/" target="_blank">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
